{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<svg width="700" height="450"></svg>
 <!-- The overlay -->
 <div id="myNav" class="overlay">
   <div class="overlay-content">
     <div class="container-fluid">
       <form action="" id="usrform">
	 <div class="form-group">
	   <label for="formGroupExampleInput">Example label</label>
	   <input type="text" class="form-control" id="title" placeholder="Example input">
	 </div>
	 <div class="form-group">
	   <label for="comment">Comment:</label>
	   <textarea class="form-control" rows="10" id="text"></textarea>
	 </div>
       </form>
     </div>
   </div>
 </div>

{% endblock %}
